@{
    ViewData["Title"] = "Home Page";
}

<main>
      <!-- Home Section-->
    <section class="hero bg-cover bg-center py-5" id="hero" style="background: url(img/background.jpg)">
      <div class="container py-5 my-5 z-index-20 position-relative">
        <div class="row py-lg-5 mt-5">
          <div class="col-md-8 text-white">
            <h2 class="h4 text-primary fw-normal mb-0">Hi, I am</h2>
            <h1 class="text-uppercase text-xl mb-0">Derek <span class="text-primary">Holland</span></h1>
            <h2 class="h4 fw-normal mb-5">Full Stack Developer</h2>
            <p class="text-shadow">The pessimist sees difficulty in every opportunity. The optimist <strong class ="text-primary">sees opportunity in every difficulty.</strong>  -Winston Churchill</p>
            <!-- Look for a better quote to include here. -->
          </div>
        </div>
      </div>
    </section>



    <!-- About Me Section-->
    <section class="py-5 bg-light" id="about me">
      <div class="container py-5">
          <header class="mb-5">
            <p class="fw-bold text-primary text-uppercase letter-spacing-3">About Me</p>
            <h2 class="h3 lined">Who I Am...</h2>
          </header>
        <div class="row gy-5">
          <div class="col-md-8 order-lg-first order-md-last">
              <p class="lead text-muted">My name is Derek Holland, and I am dynamic leader with over 12 years in the healthcare industry. After high school, I obtained my CNA then CMT license. After working in a long-term skilled facility for just a short amount of time I decided that I was going to advance my education and go to LPN school. After LPN school I returned to achieve my associates and bachelor’s in nursing. In 2016 I accepted a job in the Surgical/Trauma ICU at a local hospital. I fell in love with caring for trauma patients, so I set out to obtain an advanced certification as a TCRN (Trauma Certified Registered Nurse). While working in the ICU I gained many great skills that not only apply to nursing but to all areas of life. These include troubleshooting, critical thinking, outstanding communication, project management, and great teamwork. <br> <br>
                While I have an intense passion for caring for others in their time of need, I have found that my passion for technology has resurfaced, and I have set out to become a full stack software developer to turn that passion into a new career. <br><br>
                In my free time I enjoy spending time with my friends and family. I will be an uncle for the first time come August 2022, and I am beyond excited for the new addition to the family. Other activities that I enjoy doing are spending time with my dog Zoey, hiking, cycling, and traveling. <br><br>
                To see more about my work and education history please see the resume section within this page. Also, the projects section will show a few of the projects that I have completed while attending Tek Ladders full stack software developer course.
                
                </p>      
           </div>
        <div class="col-md-4 order-lg-last order-md-first">
            <img class="mypic" src="img/derek.jpg"alt="Derek Holland">
         </div>
       </div>
     </div>  
    </section>



    
    
    
    <!-- Resume Section-->
    <!-- Should I just put school history on this section or work histroy, or both??? -->
    <section class="py-5 bg-light" id="resume">
      <div class="container py-5">
        <header class="mb-5 pb-4">
          <p class="fw-bold text-primary text-uppercase letter-spacing-3">Lazy isn't in my vocabulary.</p>
          <h2 class="text-uppercase lined">Resume</h2>
          </br>
          <a href="~/img/DerekHollandResume.pdf" download class="btn btn-primary" >Download Resume</a>
        </header>
        <!--  Timeline -->
        <ul class="timeline">
          <div class="pb-4">
            <h3>Technical Training</h3>
          </div>
          <!-- Timeline item-->
          <li class="timeline-item ms-3 pb-4">
            <div class="timeline-arrow"></div>
            <div class="row gx-0 gy-4">
              <div class="col-lg-5">
                <p class="fw-bold mb-2 text-primary text-sm">March 2022 - Current </p>
                <h2 class="h5 mb-0 text-uppercase">Full Stack Web Developement</h2>
                <p class="text-sm mb-0">Tekladder</p><span class="small text-muted">St. Louis, MO</span>
                  </div>
                  <div class="col-lg-3">
                    <ul>
                      <li>.NET Core MVC Framework</li>
                      <li>Website Deployment</li>
                      <li>Troubleshooting & Debugging</li>
                      <li>Pair Programming</li>
                      <li>Source Control</li>
                      <li>Code Review</li>
                      <li>Agile/Scrum (Created Team Project)</li>
                    </ul>
                  </div>
                  <div class="col-lg-3">
                    <ul>
                      <li>.NET Core MVC Framework</li>
                      <li>Website Deployment</li>
                      <li>Troubleshooting & Debugging</li>
                      <li>Pair Programming</li>
                      <li>Source Control</li>
                      <li>Code Review</li>
                      <li>Agile/Scrum (Created Team Project)</li>
                    </ul>
                  </div>
                  <div>
                    <h3>Work History</h3>
                  </div>
                </div>
              </li>
              <!-- Timeline item-->
              <!-- Need to update description -->
              <li class="timeline-item ms-3 pb-4">
                <div class="timeline-arrow"></div>
                <div class="row gx-0 gy-4">
                  <div class="col-lg-5">
                    <p class="fw-bold mb-2 text-primary text-sm">September 2021 - March 2022</p>
                    <h2 class="h5 mb-0 text-uppercase">Registered Nurse</h2>
                    <p class="text-sm mb-0">Optum Services Inc.</p><span class="small text-muted">Wentzville, MO</span>
                  </div>
                  <div class="col-lg-7">
                    <ul>
                      <li>Performed patient triage following standard guidelines</li>
                      <li>Educated patients regarding health conditions, procedures, and medications</li>
                      <li>Provided excellent customer service to all members</li>
                    </ul>
                  </div>
                </div>
              </li>
                <!-- Timeline Item  -->
              <li class="timeline-item ms-3 pb-4">
                <div class="timeline-arrow"></div>
                <div class="row gx-0 gy-4">
                  <div class="col-lg-5">
                    <p class="fw-bold mb-2 text-primary text-sm">June 2016 - September 2021</p>
                    <h2 class="h5 mb-0 text-uppercase">Registered Nurse</h2>
                    <p class="text-sm mb-0">Saint Francis Healthcare System</p><span class="small text-muted">Cape Girardeau, MO</span>
                  </div>
                  <div class="col-lg-7">
                    <ul>
                      <li>Provided exceptional care to critically ill patients in the ICU</li>
                      <li>Administered medications and intravenous fluids including sedation and paralytics</li>
                      <li>Consulted and coordinated with healthcare team members to assess, plan, implement, and evaluate patients care and care plans</li>
                      <li>Monitored, recorded, and reported symptoms or changes in patients condition</li>
                      <li>Responded to rapid responses and codes throughout the hospital</li>
                      <li>Prepared patients for procedures and monitored the patient during the procedure</li>
                    </ul>
                  </div>
                </div>
              </li>

               <!-- Timeline Item  -->
               <li class="timeline-item ms-3 pb-4">
                <div class="timeline-arrow"></div>
                <div class="row gx-0 gy-4">
                  <div class="col-lg-5">
                    <p class="fw-bold mb-2 text-primary text-sm">May 2016 - Current</p>
                    <h2 class="h5 mb-0 text-uppercase">Registered Nurse</h2>
                    <p class="text-sm mb-0">StoneBridge Senior Living</p><span class="small text-muted">Marble Hill, MO</span>
                  </div>
                  <div class="col-lg-7">
                    <ul>
                      <li>Administered treatments and medications as ordered by physician and documented and closely monitored effectiveness</li>
                      <li>Advocated for patients and families, fully represented patients needs and choices, and gained support from full healthcare team</li>
                      <li>Evaluated and coordinated patients discharge planning needs with healthcare team</li>
                      <li>Modified patient treatment plans as indicated by patients responses and conditions</li>
                      <li>Completed detailed patient intakes, including documenting patient histories and vitals</li>
                      <li>Trained students and newly registered nurses in the correct nursing procedures and performance strategies</li>
                      <li>Monitored all aspects of patient care, including diet and physical activity</li>
                    </ul>
                  </div>
                </div>
              </li>

               <!-- Timeline Item  -->
               <li class="timeline-item ms-3 pb-4">
                <div class="timeline-arrow"></div>
                <div class="row gx-0 gy-4">
                  <div class="col-lg-5">
                    <p class="fw-bold mb-2 text-primary text-sm">September 2013 - May 2016</p>
                    <h2 class="h5 mb-0 text-uppercase">Licensed Practical Nurse</h2>
                    <p class="text-sm mb-0">StoneBridge Senior Living</p><span class="small text-muted">Marble Hill, MO</span>
                  </div>
                  <div class="col-lg-7">
                    <ul>
                      <li>Documented clinical information in patient medical records daily</li>
                      <li>Discussed patient care and discharge instructions with patients family members</li>
                      <li>Trained and mentored nursing students, orderlies, and new healthcare team members in organizational policies and standards of care</li>
                      <li>Demonstrated sound clinical judgment by making independent decisions</li>
                      <li>Recognized and corrected potential behavior problems in caring and consistent manner</li>
                    </ul>
                  </div>
                </div>
              </li>

               <!-- Timeline Item  -->
               <li class="timeline-item ms-3 pb-4">
                <div class="timeline-arrow"></div>
                <div class="row gx-0 gy-4">
                  <div class="col-lg-5">
                    <p class="fw-bold mb-2 text-primary text-sm">April 2012 - September 2013</p>
                    <h2 class="h5 mb-0 text-uppercase">Business Office Manager</h2>
                    <p class="text-sm mb-0">StoneBridge Senior Living</p><span class="small text-muted">Marble Hill, MO</span>
                  </div>
                  <div class="col-lg-7">
                    <ul>
                      <li>Coordinated workflows, prioritized and delegated tasks, and provided motivation and direction to create a positive environment and ensure accurate, on-time completion of tasks</li>
                      <li>Prepared and processed payroll</li>
                      <li>Created and managed schedules</li>
                      <li>Interviewed individuals for the nursing team</li>
                    </ul>
                  </div>
                </div>
              </li>


            </ul>
          </div>
        </section>
        
        
        <!-- Projects Section        -->
        <!-- Add projects as I complete them -->
        <section class="py-5" id="projects">
                  <div class="container py-5">
                    <header class="mb-5 pb-4">
                      <p class="fw-bold text-primary text-uppercase letter-spacing-3">Batman would be jealous.</p>
                      <h2 class="text-uppercase lined">Projects</h2>
                    </header>
                    <div class="row gy-5">
                      <div class="col-md-6">
                        <h3 class="h4"><span class="text-primary me-2">01</span>Dungeon App</h3>
                        <p class="text-muted text-sm ms-4 ps-3">.NET Core Console Application where the foundational concepts of C# as a language was learned.</p>
                      </div>
                      <div class="col-md-6">
                        <h3 class="h4"><span class="text-primary me-2">02</span>StoreFront</h3>
                        <p class="text-muted text-sm ms-4 ps-3">Text to describe project</p>
                      </div>
                      <div class="col-md-6">
                        <h3 class="h4"><span class="text-primary me-2">03</span>ToDo API</h3>
                        <p class="text-muted text-sm ms-4 ps-3">Text to descsribe project</p>
                      </div>
                      <div class="col-md-6">
                        <h3 class="h4"><span class="text-primary me-2">04</span>React ToDo</h3>
                        <p class="text-muted text-sm ms-4 ps-3">Text to describe project.</p>
                      </div>
                      <div class="col-md-6">
                        <h3 class="h4"><span class="text-primary me-2">05</span>SAT</h3>
                        <p class="text-muted text-sm ms-4 ps-3">Text to describe project.</p>
                      </div>
                      <div class="col-md-6">
                        <h3 class="h4"><span class="text-primary me-2">06</span>Project Title </h3>
                        <p class="text-muted text-sm ms-4 ps-3">Text to describe project.</p>
                      </div>
                    </div>
                  </div>
                </section>
                
                
                <!-- Links Section   -->
                <!-- Need to create links to classmates still and decide what text to include -->
                <!-- Lance Johnson -->
                <section class="py-5" id="links">
                  <div class="container py-5">
                    <header class="mb-5 pb-4">
                      <p class="fw-bold text-primary text-uppercase letter-spacing-3">MEET MY CLASSMATES</p>
                      <h2 class="text-uppercase lined">Links</h2>
                    </header>
                    <div class="row gy-5">
                      <div class="col-md-6">
                        <div class="row gy5">   
                            <div class="col-md-6">                                
                        <h3 class="h4 float-start" ><span class="text-primary me-2">01</span>Lance Johnson</h3>
                        <p class="text-muted text-sm ms-4 ps-3 float-start">Full Stack Web Developer
                          <ul class="list-inline-item">
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="https://www.linkedin.com/in/lance-johnson-ljohpy/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="http://www.lance-johnson.com/"><i class="fas fa-globe"></i></a></li>
                          </ul>
                        </p> 
                        
                         </div> 
                         <div class="col-md-3">
                       <img src="img/lance.jpg"  class="classmate" float-end alt="Lance Johnson">
                      </div>
                      </div>
                      </div>   
                                            
                     <!-- David Sleezer -->
                      <div class="col-md-6">
                        <div class="row gy5">   
                            <div class="col-md-6">                                
                        <h3 class="h4 float-start" ><span class="text-primary me-2">03</span>David Sleezer</h3>
                        <p class="text-muted text-sm ms-4 ps-3 float-start">Full Stack Web Developer
                          <ul class="list-inline-item">
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="https://www.linkedin.com/in/david-sleezer/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="http://www.david-sleezer.com"><i class="fas fa-globe"></i></a></li>
                          </ul>
                        </p> 
                         </div> 
                         <div class="col-md-3">
                       <img src="img/DavidSleezerPhoto.jpg"  class="classmate" float-end alt="David Sleezer">
                      </div>
                      </div>
                      </div>
                     
                      <!-- Tanner Miller -->
                      <div class="col-md-6">
                        <div class="row gy5">   
                            <div class="col-md-6">                                
                        <h3 class="h4 float-start" ><span class="text-primary me-2">04</span>Tanner Miller</h3>
                        <p class="text-muted text-sm ms-4 ps-3 float-start">Full Stack Web Developer
                          <ul class="list-inline-item">
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="https://www.linkedin.com/in/tanner-miller-dev/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="http://www.tannermillerdev.com"><i class="fas fa-globe"></i></a></li>
                          </ul>
                        </p> 
                         </div> 
                         <div class="col-md-3">
                       <img src="img/tanner.jpg"  class="classmate" float-end alt="Tanner Miller">
                      </div>
                      </div>
                      </div>
                      
                      <!-- Sarra Tavokoli -->
                      <div class="col-md-6">
                        <div class="row gy5">   
                            <div class="col-md-6">                                
                        <h3 class="h4 float-start" ><span class="text-primary me-2">05</span>Sarra Tavokoli</h3>
                        <p class="text-muted text-sm ms-4 ps-3 float-start">Full Stack Web Developer
                          <ul class="list-inline-item">
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="https://www.linkedin.com/in/sarratavakoli/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="http://stavakoli.net/"><i class="fas fa-globe"></i></a></li>
                          </ul>
                        </p> 
                         </div> 
                         <div class="col-md-3">
                       <img src="img/sarra.jpg"  class="classmate" float-end alt="Sarra Tavokoli">
                      </div>
                      </div>
                      </div>
                     
                      <!-- Josh Christian -->
                      <div class="col-md-6">
                        <div class="row gy5">   
                            <div class="col-md-6">                                
                        <h3 class="h4 float-start" ><span class="text-primary me-2">06</span>Josh Christian</h3>
                        <p class="text-muted text-sm ms-4 ps-3 float-start">Full Stack Web Developer
                          <ul class="list-inline-item">
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="https://www.linkedin.com/in/joshua-christian-a260aaba/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="http://joshdchristian13.com"><i class="fas fa-globe"></i></a></li>
                          </ul>
                        </p> 
                         </div> 
                         <div class="col-md-3">
                       <img src="img/josh.jpg"  class="classmate" float-end alt="Josh Christian">
                      </div>
                      </div>
                      </div>

                      <!-- Roan Leffew -->
                      <div class="col-md-6">
                        <div class="row gy5">   
                            <div class="col-md-6">                                
                        <h3 class="h4 float-start" ><span class="text-primary me-2">07</span>Roan Leffew</h3>
                        <p class="text-muted text-sm ms-4 ps-3 float-start">Full Stack Web Developer
                          <ul class="list-inline-item">
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="https://www.linkedin.com/in/roan-leffew-2460b0238/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="http://www.rolecoded.com/"><i class="fas fa-globe"></i></a></li>
                          </ul>
                        </p> 
                         </div> 
                         <div class="col-md-3">
                       <img src="img/roan.jpg"  class="classmate" float-end alt="Roan Leffew">
                      </div>
                      </div>
                      </div>

                      <!-- Dawson Meier -->
                      <div class="col-md-6">
                        <div class="row gy5">   
                            <div class="col-md-6">                                
                        <h3 class="h4 float-start" ><span class="text-primary me-2">08</span>Dawson Meier</h3>
                        <p class="text-muted text-sm ms-4 ps-3 float-start">Full Stack Web Developer
                          <ul class="list-inline-item">
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="https://www.linkedin.com/in/dawson-meier-b9781a238/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a class="social-link" target="_blank" href="http://www.dawsonmeierdev.com"><i class="fas fa-globe"></i></a></li>
                          </ul>
                        </p> 
                         </div> 
                         <div class="col-md-3">
                       <img src="img/dawson.jpg"  class="classmate" float-end alt="Dawson Meier">
                      </div>
                      </div>
                      </div>
                      
                    </div>
                  </div>
                </section>
</main>